{% extends 'base.html' %}
{% block content %}
<div class="container mt-4 text-center">
    <h2>¿Estás seguro que deseas eliminar el producto "{{ producto.nombre }}"?</h2>
    <table class="table table-bordered table-striped align-middle">
            <thead>
                <tr>
                    <th>Código</th><th>Nombre</th><th>Precio Venta</th><th>Stock</th><th>Proveedor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ producto.codigo }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>${{ producto.precio_venta }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>{{ producto.proveedor.nombre }}</td>
                </tr>
            </tbody>
        </table>
    <form method="POST" class="form-eliminar d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger eliminar-btn">Eliminar</button>
        <a href="{% url 'listar_productos' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}